* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */

.header-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
}

.list-nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
}

.link-nav {
  color: black;
  font-weight: bold;
  padding-bottom: 2rem;
}

.link-nav:hover {
  border-bottom: 5px solid #0282F9;
  color: #0282F9;
}

.logo-nav img {
  width: 75%;
}

.jumbotron {
  background-image: url(./assets/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

/* MainContent */

.main-first {
  background-color: black;
}

.container-main-first {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.badge {
  color: white;
  background-color: #0282F9;
  position: absolute;
  top: -20px;
  padding: 0.5rem 1.5rem;
}

.card {
  flex-basis: calc((100% - 5rem) / 6);
  margin-top: 3rem;
}

.card figure {
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: top center;
}

.card-title {
  color: white;
}

.main-first .button-container {
  display: flex;
  justify-content: center;
}

.button-main-first {
  color: white;
  background-color: #0282F9;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.link-main-first {
  display: inline-block;
  font-weight: bold;
  color: white;
  padding: 3rem 0;
  font-size: x-large;
}

.main-second {
  background-color: #0282F9;
}

.list-main-second {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-main-second {
  color: white;
  display: flex;
  align-items: center;
  flex-basis: 15%;
  gap: 1rem;
  margin: 2rem;
}

.link-main-second img {
  width: 25%;
}

.link-main-second a {
  color: white;
}

/* Footer */

.bg-footer-start {
  background-image: url(./assets/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-footer-start {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.left-footer-start {
  flex-basis: 40%;
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.list-footer {
  flex-basis: calc(100% / 3);
}

.list-footer {
  flex-basis: calc(100% / 3);
}

.list-footer h2 {
  color: white;
  margin-bottom: 1rem;
}

.list-footer a {
  display: inline-block;
  color: grey;
  margin-bottom: 0.5rem;
}

.right-footer-start {
  flex-basis: 60%;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.right-footer-start img {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 150%;
}

/* FooterEnd */

.bg-footer-end {
  background-color: #303030;
}

.container-footer-end {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.btn-footer-end {
  color: white;
  border: 2px solid #0282F9;
  padding: 1rem;
  font-weight: bold;
}

.container-footer-end ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.container-footer-end ul li a:first-child {
  color: #0282F9;
  font-weight: bold;
}